<div id="footer">
    <div class="footer-box container">
        <div class="row">
            <div class="block col-md-4">
                <div class="block-title"><i class="far fa-at" style="vertical-align: middle;"></i> Contactgegevens</div>
                <ul class="fa-ul">
                    <li><a href="#"><span class="fa-li"><i class="fas fa-phone"></i></span> 088 - 123 823 23</a></li>
                    <li><span class="fa-li"><i class="fas fa-home"></i></span> H.A. Lorentzstraa 168</li>
                    <li><span class="fa-li"><i class="fas fa-home" style="visibility: hidden;"></i></span> 3331 EE</li>
                    <li><span class="fa-li"><i class="fas fa-home" style="visibility: hidden;"></i></span> Zwijndrecht</li>
                    <li><span class="fa-li"><i class="fas fa-euro-sign"></i></span>NL 12 RABO 0380 2932 63</li>
                </ul>
            </div>
            <div class="block col-md-3">
                <div class="block-title"><i class="far fa-users" style="vertical-align: middle;"></i> Volg ons ook</div>
                <ul class="fa-ul social-list">
                    <li><a href="#"><span class="fa-li fa-fw"><i class="fab fa-facebook"></i></span>Facebook</a></li>
                    <li><a href="#"><span class="fa-li fa-fw"><i class="fab fa-instagram"></i></span>Instagram</a></li>
                    <li><a href="#"><span class="fa-li fa-fw"><i class="fab fa-twitter "></i></span>Twitter</a></li>
                    <li><a href="#"><span class="fa-li fa-fw"><i class="fab fa-pinterest"></i></span>Pinterest</a></li>
                </ul>
            </div>
            <div class="block col-sm-5">
                <div class="block-title"><i class="far fa-sitemap" style="vertical-align: baseline;"></i> Sitemap</div>
                <ul class="fa-ul sitemap">
                    <li class="sitemap-url col-sm-6"><a href="#">Huidig aanbod</a></li>
                    <li class="sitemap-url col-sm-6"><a href="#">Over ons</a></li>
                    <li class="sitemap-url col-sm-6"><a href="#">Contact</a></li>
                    <li class="sitemap-url col-sm-6"><a href="#">Tarieven</a></li>
                    <li class="sitemap-url col-sm-6"><a href="#">Aanmelden</a></li>
                    <li class="sitemap-url col-sm-6"><a href="#">Registreren</a></li>
                    <li class="sitemap-url col-sm-6"><a href="#">Camper huren</a></li>
                    <li class="sitemap-url col-sm-6">Caravan huren</li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            Bij het gebruik van de website gaat uw akkoord met onze <a href="#">Algemene voorwaarden</a>
        </div>
    </div>
</div>