<div id="footer">
    <div class="footer-box container">
        <div class="block col-md-4">
            <div class="block-title">Volg ons ook op</div>
            <ul class="fa-ul">
                <li><span class="fa-li"><i class="fab fa-twitter"></i></span>Twitter</li>
                <li><span class="fa-li"><i class="fab fa-facebook"></i></span>Faceboook</li>
                <li><span class="fa-li"><i class="fab fa-instagram"></i></span>Instagram</li>
                <li><span class="fa-li"><i class="far fa-square"></i></span>in lists</li>
            </ul>
        </div>
        <div class="block col-md-4">
            b
        </div>
        <div class="block col-md-4">
            c
        </div>
    </div>
</div>