<div id="header">
    <nav class="header-box container">
        <div class="brand-box col-md-3">
            <img src="{{ asset('images/brand-logo.png') }}" alt="">
        </div>
        <ul class="header-nav col-md-6">
            <li class="nav-item heading-small"><a href="#">Home</a></li>
            <li class="nav-item heading-small"><a href="#">Huidig aanbod</a></li>
            <li class="nav-item heading-small"><a href="#">Over ons</a></li>
            <li class="nav-item heading-small"><a href="#">Contact</a></li>
            <li class="nav-item heading-small login-button"><a href="#"><i class="fas fa-user icon"></i>Aanmelden</a></li>
        </ul>
    </nav>
</div>
<div id="mobile-nav">

</div>

