{% extends 'base.html.twig' %}
{% block body %}
<div id="content">
    <div class="content-box container">
        {{ render(controller('App\Controller\DefaultController::registerForm')) }}
    </div>
</div>
{% endblock %}