{% extends '/base.html.twig' %}
{% block body %}
    {% include '/partials/header.html.twig' %}
    <div id="content">
        <div class="content-box container">
            <div style="width: 400px; margin: 0 auto; margin-top: 120px; margin-bottom: 120px; padding: 30px; border-radius: 30px; background-color: #F45B69">
                <h2 style="text-align: center; font-family: europa;"><i class="fas fa-smile"></i> Klantverificatie succesvol</h2>
                <div style="font-family: proxima-nova; margin: 15px 0; text-align: center;">{{ message }}</div>
                <a href="{{ path('login_page') }}" style="margin: 0 auto; display: block;">
                    <div class="btn btn-primary" style="margin: 0 auto; display: block; border-radius: 30px;"><i class="fas fa-user"></i> Naar inloggen</div>
                </a>
            </div>
        </div>
    </div>
    {% include '/partials/footer.html.twig' %}
{% endblock %}