@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'variables';

/* Header */

#header{
  height: 100px;
  background-color: $brand-color6;

  .header-box{
    background-color: $brand-color5;

    .brand-box{
      padding: 20px;

      img{
        max-height: 60px;
      }
    }

    .header-nav{
      float: right;
      height: 100px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0;
      margin: 0;

      .nav-item{
        font-family: "europa";
        display: inline-block;
        margin-right: 20px;
        line-height: 40px;
        font-size: 16px;

        a{
          text-decoration: none;
          color: white;
        }
      }

      .login-button{
        background-color: #5cb85c;
        padding: 0 15px;
        border-radius: 30px;

        .icon{
          margin-right: 10px;
        }
        a{
          color: white;
        }
      }
    }
  }
}


/* Contact */
#contact{
  margin: auto;
  background-color: $brand-color7;
  .contact-header{
    margin-bottom: 50px;
  }

  .gegevens-box{
    margin-bottom: 50px;
    border-color: #313131;

  }

  .iframe{
    margin-top: 430px;
    margin-left: 150px;
  }

}




/* Footer */
#footer{
  background-color: $brand-color6;
  margin-top: 30px;

  .footer-box{
    background-color: $brand-color5;
    padding: 30px 0;

    .block{

      .block-title{
        font-family: "proxima-nova";
        text-align: center;
        font-size: 16px;
      }
    }
  }
}