{% extends 'base.html.twig' %}
{% block body %}
    {% include 'partials/header.html.twig' %}
    <div id="content">
        <div class="content-box container">

            <div class="welkom col-md-12">
                <h2>Welkom op De Dissel</h2>
            </div>

            <div class="kwaliteiten">
                <div class="kwaliteit col-md-6">
                    <h5>Voor ieder wat wils
                    <i class="fas fa-check icon"></i>
                    </h5>
                    <div class="text">
                        Kies uit meer dan 1600 unieke campers of caravans en probeer een kampeervakantie via Camptoo. Een weekendje weg of een lange zomervakantie? Ons voordelige aanbod is gemakkelijk te boeken!
                    </div>
                </div>
                <div class="kwaliteit col-md-6">
                    <h5>We zijn er voor jou
                        <i class="fas fa-check icon"></i>
                    </h5>
                    <div class="text">
                        Camptoo zorgt er voor dat je veilig en goed verzekerd op pad kan. Wij checken de campers en caravans, bieden een veilig betalingssysteem en samen met de reviews van medekampeerders zorgen wij voor een betrouwbare community.
                    </div>
                </div>
                <div class="kwaliteit col-md-6">
                    <h5>Veiligheid boven alles
                        <i class="fas fa-check icon"></i>
                    </h5>
                    <div class="text">
                        Het Camptoo support team staat altijd voor je klaar! Persoonlijk contact staat bij ons hoog in het vaandel en begeleiden je dan ook graag wanneer je onze hulp nodig hebt.
                    </div>
                </div>

                <div class="kwaliteit col-md-6">
                    <h5>Deel het plezier
                    <i class="fas fa-check icon"></i>
                    </h5>
                    <div class="text">
                        Door een goed verzekerde particuliere camper of caravan te huren kun je flink wat kosten besparen en duurzaam op vakantie. Ontmoet de verhuurders en deel je ervaringen met onze kampeer community
                    </div>
                </div>
                <div id="test">
                    <img src="{{ asset('images/campers1.png') }}" style="width: auto; height: 140px; margin-left: 20px;" alt="">

                    <img src="{{ asset('images/caravan1.png') }}" style="width: auto; height: 120px; margin-left: 380px;" alt="">


                </div>
            </div>
        </div>
    </div>


    {% include 'partials/footer.html.twig' %}
{% endblock %}

