{% extends 'base.html.twig' %}
{% block body %}
    {% include 'partials/header.html.twig' %}
        <div id="huidigaanbod">
            <div class="huidigaanbod-box container">
                <div class="head">
                    <h2>Campers & Caravans</h2>
                    <p>Hier bij de Dissel hebben wij een exclusief aantal campers en caravans te huur.<br>
                    Hier onder ziet u al onze te huren campers en caravans, we hebben voor iedereen wel wat moois staan.<br>
                    Of u nou een leuke knussen caravan wilt om lekker dat echte kampeer gevoel te krijgen, of een hele luxe camper met alles er op en er aan, wij hebben het voor u!</p>
                </div>
                <div class="huidigaanbod-content">
                    <div class="huidigaanbod col-md-6">
                        <p>Object</p>
                    </div>
                    <div class="huidigaanbod col-md-6">
                        <p>Object</p>
                    </div>
                    <div class="huidigaanbod col-md-6">
                        <p>Object</p>
                    </div>
                    <div class="huidigaanbod col-md-6">
                        <p>Object</p>
                    </div>
                    <div class="huidigaanbod col-md-6">
                        <p>Object</p>
                    </div>
                    <div class="huidigaanbod col-md-6">
                        <p>Object</p>
                    </div>
                </div>
            </div>
        </div>
    {% include 'partials/footer.html.twig' %}
{% endblock %}