{% extends 'base.html.twig' %}
{% block body %}
    {% include 'partials/header.html.twig' %}
    <div id="overons">
        <div class="overons-box container">
            <h2>Over de Dissel</h2> </br>
            <p> Wilt u een camper of caravan huren bij de Dissel?</br></br>

                Wij zijn zeer ervaren, betrouwbaar en voordelig. Daarbij zijn al onze campers kilometervrij!</br></br>

                U heeft bij de Dissel een ruime keuze uit maar liefst 70 huurcampers tegen all-in prijzen.</br>
                Daarnaast bieden wij ook 24 uurservice. Een camper huurt u al vanaf 65 euro per dag.</br></br>

                Bekijk snel de camper en caravan mogelijkheden op onze pagina Huidig aanbod.</p></br></br>
        </div>
        <div class="overons-box1">
        <img src="{{ asset('images/overons1.jpeg') }}">
        </div>
        <div class="overons-box2">
        <img src="{{ asset('images/overons2.jpg ') }}">
        </div>
    </div>
    {% include 'partials/footer.html.twig' %}
{% endblock %}