Beste {{ username }}, <br>
<br>
Hartelijk dank voor uw wachtwoord-reset aanvraag.<br>
<br>
Door op de volgende link te drukken kunt uw uw wachtwoord opnieuw instellen:<br>
<a href="http://localhost:8000/klant/wachtwoord-resetten/{{ token }}">Wachtwoord opnieuw instellen</a><br>
<br>
We hopen uw hierbij voldoende te hebben geinformeerd. Mocht uw nog vragen hebben?<br>
Neem dan contact op met onze beheerder:<br>
<a href="mailto:beheerderdedissel@gmail.com">Email versturen</a><br>
<br>
Met vriendelijke groet,<br>
Bestuur de Dissel